<div class='step col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3' id="<%= id %>">
  <div class='step-body'>
    <div class='step-title'>
      <h2><%= step.name %></h2>
      <%= link_to step, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'delete' do 
        fas_icon 'trash'
      end %>
    </div>
    <div class='step-content'>
      <div class='drop-target sortable-group' data-url="<%= sort_tasks_path(step.id) %>">
        <% step.tasks.order(:position).each do |task| %>
          <%= render partial: '/tasks/show', object: task, as: 'task', locals: { id: dom_id(task) } %>
        <% end %>
      </div>
      <div class="add-task">
        <%= fas_icon 'plus' %>
        Adicionar uma Tarefa
      </div>
    </div>
  </div>
</div>