<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>IbcTeste</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav flex-fill w-100 flex-nowrap">
          <li class="nav-item <%= "active" if current_page?(home_url) %>">
            <a class="nav-link" href="/"><%= fas_icon 'home' %></a>
          </li>
          <li class="nav-item hide-xs <%= "active" if current_page?(boards_url) %>">
            <a class="nav-link" href="/boards"><%= fas_icon 'chalkboard' %><span class="hide-mobile">Boards</span></a>
          </li>
        </ul>
        <a class="navbar-brand flex-fill justify-content-center" href="/">
          <%= image_tag("#{image_path 'logo-ibc.png', alt: "logo"}") %>
        </a>
        <ul class="navbar-nav flex-fill w-100 justify-content-end">
          <li>
            <%= link_to new_board_path, {remote: true, 'data-toggle': 'modal', 'data-target': '#modal-new-board'} do 
              fas_icon 'plus'
            end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if alert %>
        <div style="position: absolute; top: 70px; right: 1rem; min-width: 280px; z-index: 100;">
          <div class="toast fade show" data-autohide="true" data-delay="6000">
            <div class="toast-header">
              <strong class="mr-auto" style="<%= alert.keys[0] == 'success' ? 'color: green;' : 'color: red;' %>"><%= alert.keys[0] == 'success' ? "Sucesso" : "Erro" %></strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
              <%= alert.values[0] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      <%= yield %>
      <div id='modal-new-board' class='modal' tabindex="-1" role='dialog' aria-labelledby='newBoardModal' aria-hidden='true'></div>
    </div>
  </body>
</html>
