<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>IbcTeste</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav flex-fill w-100 flex-nowrap">
          <li class="nav-item <%= "active" if current_page?(home_url) %>">
            <a class="nav-link" href="/"><%= fas_icon 'home' %></a>
          </li>
          <li class="nav-item hide-xs <%= "active" if current_page?(boards_url) %>">
            <a class="nav-link" href="/boards"><%= fas_icon 'chalkboard' %><span class="hide-mobile">Boards</span></a>
          </li>
        </ul>
        <a class="navbar-brand flex-fill justify-content-center" href="/">
          <%= image_tag("#{image_path 'logo-ibc.png', alt: "logo"}") %>
        </a>
        <ul class="navbar-nav flex-fill w-100 justify-content-end">
          <li>
            <%= link_to new_board_path, {remote: true, 'data-toggle': 'modal', 'data-target': '#modal-new-board'} do 
              fas_icon 'plus'
            end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if alert %>
        <div class="alert alert-<%= alert.keys[0] %> alert-dismissible fade show" role="alert">
          <%= alert.values[0] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
      <%= yield %>
      <div id='modal-new-board' class='modal' tabindex="-1" role='dialog' aria-labelledby='newBoardModal' aria-hidden='true'></div>
    </div>
  </body>
</html>
